<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <style>
        .rightcolor {
            background-color: green;
            color: white;
        }

        .wrongcolor {
            background-color: red;
            color: white;
        }
    </style>
    <script>
        window.onload = function () {
            new Vue({
                el: '#itany',
                data: {

                    text: 'ltt is very nb',  //打字文本
                    inputtext: '',//用户输入内容
                    hourx: 0,     //时
                    minutesx: 0,  //分
                    secondx: 0,   //秒
                    millisec: 0,  //毫秒
                    nowinterval: 0,  //保存当前interval
                    delettimes: 0,  //退格次数
                    totalwords: 0   //总打字数
                },
                computed: {
                    rightpercent: function () {
                        return (((this.totalwords - this.delettimes) / this.totalwords) * 100).toFixed(2)
                    }
                },
                updated() {
                    if (this.inputtext === this.text) {  //判断打字是否完成，完成则结束计时
                        clearInterval(this.nowinterval);
                    }
                },
                methods: {
                    wordcompare(index) {  //比较文本与输入的内容
                        if (this.inputtext[index] != null) {
                            if (this.inputtext[index] != this.text[index]) {
                                return 1;
                            }
                            else {
                                return 2;
                            }
                        }
                    },
                    timestart() { //启动计时
                        this.totalwords++;
                        if (this.nowinterval == 0) {  //判断interval是否存在,若存在则不启动新的计时
                            this.nowinterval = setInterval(this.timeupdate, 10);
                        }
                    },
                    timeupdate() {  //计时
                        this.millisec++
                        if (this.millisec === 100) {
                            this.millisec = 0;
                            this.secondx++;
                            if (this.secondx === 60) {
                                this.secondx = 0;
                                this.minutesx++;
                                if (this.minutesx === 60) {
                                    this.minutesx = 0;
                                    this.hourx++;
                                }
                            }
                        }
                    },
                    timeclear() {   //重新开始练习
                        this.hourx = 0;
                        this.minutesx = 0;
                        this.secondx = 0;
                        this.millisec = 0;
                        this.inputtext = ''; 
                        this.delettimes = 0;
                        this.totalwords = 0;
                        clearInterval(this.nowinterval);
                        this.nowinterval = 0;
                        
                    },
                    adddelettimes() {  //记录退格次数
                        this.delettimes++;
                    }
                }
            });
        }
    </script>
</head>



<body>
    <div id="itany" style="text-align: 35px;">
        <span v-for="(value,index) in text"
            style="font-size: 26px; margin-left: 2px; font-family: 'Times New Roman', Times, serif;"
            :class="{rightcolor:wordcompare(index)==2,wrongcolor:wordcompare(index)==1}">
            {{text[index]}}
            <span>&nbsp;</span>
        </span>
        <br>
        <input id="inputtext" type="text" v-model="inputtext"
            style="font-size: 26px; padding: 0; font-family: 'Times New Roman', Times, serif;" @keydown="timestart"
            @keydown.8="adddelettimes">
        <hr>
        <!--
            <span v-for="(value,index) in inputtext" :class="{wrongword:wordcompare(index)}">
                {{value}}
            </span>
        -->

        <div>
            计时:
            <span v-if="hourx<10">0</span>{{hourx}}:
            <span v-if="minutesx<10">0</span>{{minutesx}}:
            <span v-if="secondx<10">0</span>{{secondx}}:
            <span v-if="millisec<10">0</span>{{millisec}}
            <button @click="timeclear">重新开始</button>
        </div>
        <div>
            总打字数:{{totalwords}}
        </div>
        <div>
            退格:{{delettimes}}
        </div>
        <div>
            有效打字率:{{rightpercent}}%
        </div>
    </div>
</body>

</html>