#test-input {
    margin: auto;
    height: 500px;
    width: 1070px;
    margin-top: 15px;
    text-align: 35px;
    overflow: hidden;
  }
.info-outside {
    position: fixed;
    right: 25px;
    top: 133px;
    background-color: #fff;
    height: 520px;
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    background: #d9ebf7;
    box-shadow:  11px 11px 20px #a7b5be, 
                -11px -11px 20px #ffffff;
  }
.info-outside-sum{
  height: 240px;
  border: #a2b8c9 solid 1px;
  border-radius: 20px;
  padding-left: 20px;

}
.info-outside-sum>div{
  margin-top: 20px;
}
.info-inside{
  margin: auto;
  margin-top: 20px;
  height: 250px;
  padding-top: 10px;
  width: 170px;
  border-radius: 20px;
  background: #d9ebf7;
  box-shadow: inset 13px 13px 16px #bbcad4, 
              inset -13px -13px 16px #f7ffff;
}
.info-inside>button{
    height: 50px;
    width: 50px;
    margin-left: 23px;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: #d9ebf7;
    box-shadow:  5px 5px 10px #89949c, 
             -5px -5px 10px #ffffff;
}
.info-inside>button:hover{
  cursor: pointer;
}
.button-start{
  background-image: url('../images/test/start.png') ;
  background-repeat: no-repeat;
  background-size: 100%;
}
.button-stop{
  background-image: url('../images/test/stop.png') ;
  background-repeat: no-repeat;
  background-size: 100%;
}
.button-stop:active{
  background-image: url('../images/test/stop.png') ;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  background-color: #d9ebf7;
  box-shadow: inset 5px 5px 6px #b9c2c8, 
              inset -5px -5px 6px #ffffff;
}

.button-restart{
  background-image: url('../images/test/restart.png') ;
  background-repeat: no-repeat;
  background-size: 100%;
}
.button-restart:active{
  background-image: url('../images/test/restart.png') ;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  background-color: #d9ebf7;
  box-shadow: inset 5px 5px 6px #b9c2c8, 
              inset -5px -5px 6px #ffffff;
}
.button-article{
  background-image: url('../images/test/article.png') ;
  background-repeat: no-repeat;
  background-size: 100%;
}
.button-article:active{
  background-image: url('../images/test/article.png') ;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  background-color: #d9ebf7;
  box-shadow: inset 5px 5px 6px #b9c2c8, 
              inset -5px -5px 6px #ffffff;
}
.text {
    display: inline-block;
  }
.word {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    user-select: none;
  }
.rightcolor {
    background-color: green;
    color: white;
  }
  
.wrongcolor {
    background-color: red;
    color: white;
}
.inputtext {
    border: black solid 1px;
    border-radius: 2px;
    height: 30px;
    width: 1065px;
    font-size: 20px;
    padding: 0;
}